:root {
    --background-color: #f0f0f0;
    --text-color: #000;
    --border-color: #ccc;
    --button-bg-color: #fff;
}

[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
    --border-color: #666;
    --button-bg-color: #555;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: var(--button-bg-color);
    color: var(--text-color);
}

.container {
    text-align: center;
}

.numbers-container {
    display: flex;
    margin-bottom: 20px;
}

.number {
    width: 50px;
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
}

#generate-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}
